<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<div style="height: 40px;"></div>
	<div style="width: 960px;" align="center">
    {% if request_type == 'add' %}
		<form action="/fund-hold/add-form/post" method="post">
			space: <select type="text" name="space_id">

            {% for s in space_list %}
                <option value = "{{ s.id }}">{{ s.user }}</option>
            {%  endfor %}
        </select>
            <br>
            基金: <select type="text" name="fund_id">

            {% for f in fund_list %}
                <option value = "{{ f.id }}">{{ f.name }}</option>
            {%  endfor %}
        </select><br>
            类型: <select type="text" name="type">


                <option value = "auto_invest">定投</option>
                <option value = "price_invest" >定价投</option>
                <option value = "clearance">清仓</option>

        </select><br>
			<input type="submit" value="提交">
		</form>
{% elif request_type == 'update' %}
        <form action="/fund-hold/update-form/post" method="post">
			持有id: <input type = "hidden" name = "id" value = "{{ fund_hold.id }} "> {{ fund_hold.id }}<br>
            基金：{{ fund_hold.name }}<br>
            持仓：{{ fund_hold.hold }}<br>
            持有收益：{{ fund_hold.income }}<br>
            6个月增长率：{{ fund_hold.sm_rate }}<br>
            持有份额：<input type="text" name="share" value = "{{ fund_hold.share }}"><br>
            成本价: <input type="text" name="cost_value" value = "{{ fund_hold.cost_value }}"><br>
            类型: <select type="text" name="type" >


                <option value = "auto_invest" {% if fund_hold.type == 'auto_invest' %}selected = "selected" {% else %} {% endif %}>定投</option>
                <option value = "price_invest" {% if fund_hold.type == 'price_invest' %}selected = "selected" {% else %} {% endif %}>定价投</option>
                <option value = "clearance" {% if fund_hold.type == 'clearance' %}selected = "selected" {% else %} {% endif %}>清仓</option>

        </select><br>
        <input type="submit" value="提交">

		</form>
    {% endif %}
	</div>

</body>

</html>