<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<div style="height: 40px;"></div>
	<div style="width: 960px;" align="center">
    <a href="http://127.0.0.1:8000/fund-hold/">回到持有列表</a>
		<a href="http://127.0.0.1:8000/fund/add-form/">新增基金</a>
        <a href="http://127.0.0.1:8000/fund/robot-update/post">爬虫更新</a>
		<table border="1">
			<tr>
				<th>
                    基金id
				</th>
				<th>
					基金名称
				</th>
				<th>
					基金经理
				</th>
				<th>
					创建时间
				</th>
                <th>
					更新时间
				</th>

				<th>
					操作
				</th>
			</tr>
            {% for r in fund %}
			<tr>

				<td>
					{{ r.id }}
				</td>
				<td>
					{{ r.name }}
				</td>
				<td>
                    {{ r.manager }}
				</td>
				<td>
                    {{ r.created }}
				</td>
				<td>
                    {{ r.updated }}
				</td>
				<td>
					<button>持有更新</button>
				</td>

            </tr>
            {% endfor %}

		</table>


	</div>

</body>

</html>