<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<div style="height: 40px;"></div>
	<div style="width: 960px;" align="center">

        {% if trade_msg.status  == 'in-trading' %}
        <form action="/fund-holds/{{ trade_msg.fund_hold_id }}/trades/{{ trade_msg.id }}?status=in-trading" method="post">
            持有id: <input type = "hidden" name = "fund_hold_id" value = "{{ trade_msg.fund_hold_id }} "> {{ trade_msg.fund_hold_id }}<br>
            交易id: <input type = "hidden" name = "id" value = "{{ trade_msg.id }} "> {{ trade_msg.id }}<br>
            基金：{{ fund_hold.name }} <br>
            交易时间: {{ trade_msg.day }}<br>
            交易金额: {{ trade_msg.hold }}<br>
            交易份额: <input type="text" name="share" value="{{ trade_msg.share }}"><br>
			<input type="submit" value="提交">
		</form>
            {% elif trade_msg.status == 'out-trading' %}
            <form action="/fund-holds/{{ trade_msg.fund_hold_id }}/trades/{{ trade_msg.id }}?status=out-trading" method="post">
            持有id: <input type = "hidden" name = "fund_hold_id" value = "{{ trade_msg.fund_hold_id }} "> {{ trade_msg.fund_hold_id }}<br>
            交易id: <input type = "hidden" name = "id" value = "{{ trade_msg.id }} "> {{ trade_msg.id }}<br>
            基金：{{ fund_hold.name }} <br>
            交易时间: {{ trade_msg.day }}<br>
            交易金额: <input type="text" name="hold" value="{{ trade_msg.hold }}" ><br>
            交易份额: {{ trade_msg.share }}"<br>
			<input type="submit" value="提交">
		</form>
            {% endif %}

	</div>

</body>

</html>