<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<div style="height: 40px;"></div>
    {% if action == 'list-html' %}
	<div style="width: 960px;" align="center">
        <div>
            {% if error != 'None' %}
                <h1>{{ error }}</h1>
                {% endif %}
        </div>
        <div>
            <a href="http://127.0.0.1:8000/fund-holds/list-html">返回持有页面</a>
            <a href="http://127.0.0.1:8000/fund-holds/{{ fund_hold.id }}/trades/add-html/?id={{ fund_hold.id }}">新增交易</a><br>
            持有id：{{ fund_hold.id }}
            基金：{{ fund_hold.name }}
            持仓：{{ fund_hold.hold }}
            持有收益：{{ fund_hold.income }}<br>
            6个月增长率：{{ fund_hold.sm_rate }}
            持有份额：{{ fund_hold.share }}
            成本价: {{ fund_hold.cost_value }}
            类型: {{ fund_hold.type }}

            </div><br>

        <table border="1">
			<tr>
				<th>id
				</th>
				<th> 日期
				</th>

				<th> 金额
				</th>
                <th>份额</th>
                <th>状态</th>
				<th>
					操作
				</th>
			</tr>
            {% for r in trade_history %}
			<tr>
				<td>
					{{ r.id }}
				</td>

				<td>
                    {{ r.day }}
				</td>

                <td>
                    {{ r.hold }}
				</td>
                <td>
                    {{ r.share }}
				</td>
                <td>
                    {{ r.status }}
				</td>

				<td>
					<a href="http://127.0.0.1:8000/fund-holds/{{ fund_hold.id }}/trades/{{ r.id }}/update-html?id={{ r.id }}">交易更新</a>
				</td>

            </tr>
            {% endfor %}

		</table>

	</div>
    {% elif action == 'add-html' %}
        <div style="width: 960px;" align="center">
		<form action="/fund-holds/{{ fund_hold_id }}/trades" method="post">
            <input type="hidden" name="_method" value="PUT" />
            持有id: <input type = "hidden" name = "id" value = "{{ fund_hold_id }} "> {{ fund_hold_id }}<br>
            交易时间: <input type="date" name="day" ><br>
            交易金额: <input type="text" name="hold",value="0" ><br>
            交易份额: <input type="text" name="share",value="0" ><br>
			<input type="submit" value="提交">
		</form>

	</div>
    {% endif %}

</body>

</html>