<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<div style="height: 40px;"></div>
	<div style="width: 960px;" align="center">
		<form action="/spaces/{{ id }}" method="post">
            <input type="hidden" name="_method" value="PUT" />
			space id: <input type = "hidden" name = "id" value = "{{ id }} "> {{ id }}<br>
            用户: <input type = "hidden" name = "user" value = "{{ user }} "> {{ user }}<br>
			持仓: <input type="hidden" name="hold" value = "{{ hold }}">{{ hold }}<br>
            持有收益<input type = "hidden" name = "hold_income" value = "{{ hold_income }}" > {{ hold_income }}<br>
			累计收益: <input type="text" name="income" value = "{{ income }}"><br>
            本金: <input type="text" name="principal" value = "{{ principal }}"><br>
			<input type="submit" value="提交">
		</form>

	</div>

</body>
</html>